.c-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.text-container {
  display: flex;
  justify-content: center;
}

.h-button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.text-text {
  text-align: center;
  width: 650px;
  color: #3d3d3d;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 113%; /* 27.12px */
}
